 .container{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    display{
        display: block;
    }
 }

 input{
    cursor: pointer;
 }