<div class="wrapper">
    <a class="nav-link" [routerLink]="['/home']">
        <button class="btn btn-secondary">Home</button>
    </a>
    <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Your Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkbox">
          <label class="form-check-label" for="check-out">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>